spring: 
  profiles:
    active:
    - dev
  
---

spring:
  profiles: dev
#=======================================================================================================================
  kafka:
    bootstrap-servers: 192.168.1.164:9092,192.168.1.165:9092,192.168.1.166:9092
    producer:
      retries: 0
      batch-size: 16384
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        linger.ms: 1
    
    consumer:
      group-id: 0
      auto-offset-reset: earliest
      enable-auto-commit: true
      auto-commit-interval: 100ms
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        session.timeout.ms: 15000
      properties.max.partition.fetch.bytes: 2097152
#=======================================================================================================================
  #相关Redis配置
  redis:
    database: 0         #redis索引（默认0）
    cluster:
      nodes: 
        - 192.168.1.164:6379
        - 192.168.1.165:6379
        - 192.168.1.166:6379
    password:
    timeout: 5000
    sentinel:
      master: mymaster
      nodes: 192.168.1.164:26379,192.168.1.165:26379,192.168.1.166:26379
    lettuce:
      pool:
        max-active: 8     #连接池最大连接数，使用负值没有限制
        max-wait: -1      #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 8       #连接池中的最大空闲连接
        min-idle: 0       #连接池中的最小空闲连接
        timeout: 5000     #连接超时时间（毫秒）
#=======================================================================================================================
  sleuth:
    sampler:
      percentage: 1
  zipkin:
    base-url: http://localhost:9411
#=======================================================================================================================
  #相关MySQL/druid配置
  datasource:
    url: jdbc:mysql://192.168.1.123:3306/casin?characterEncoding=utf8&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root@123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 5
      max-wait-millis: 5
#=======================================================================================================================
#相关mybatis配置
mybatis:
  mapperLocations: classpath:/mapper/**/*Mapper.xml
  type-aliases-package: com.casin.model
  #开启二级缓存
  configuration:
    cache-enabled: true
#=======================================================================================================================
#相关eureka配置
eureka:
  instance:
    prefer-ip-address: true                    #访问路径可以显示IP地址
    lease-renewal-interval-in-seconds: 10      #续约更新时间间隔（秒）
    lease-expiration-duration-in-seconds: 10   #续约到期时间（秒）
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/,http://localhost:8763/eureka/
    healthcheck:
      enabled: true #健康检查
#=======================================================================================================================
logging:
  config: classpath:logback-spring.xml
  path: D:/log
#=======================================================================================================================
logging:
  level:
    io:
      swagger:
        models:
          parameters:
            AbstractSerializableParameter: ERROR
#=======================================================================================================================
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
        
---

spring:
  profiles: test
#=======================================================================================================================
  kafka:
    bootstrap-servers: 192.168.1.164:9092,192.168.1.165:9092,192.168.1.166:9092
    producer:
      retries: 0
      batch-size: 16384
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        linger.ms: 1
    
    consumer:
      group-id: 0
      auto-offset-reset: earliest
      enable-auto-commit: true
      auto-commit-interval: 100ms
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        session.timeout.ms: 15000
      properties.max.partition.fetch.bytes: 2097152
#=======================================================================================================================
  #相关Redis配置
  redis:
    database: 0         #redis索引（默认0）
    cluster:
      nodes: 
        - 192.168.1.164:6379
        - 192.168.1.165:6379
        - 192.168.1.166:6379
    password:
    timeout: 5000
    sentinel:
      master: mymaster
      nodes: 192.168.1.164:26379,192.168.1.165:26379,192.168.1.166:26379
    lettuce:
      pool:
        max-active: 8     #连接池最大连接数，使用负值没有限制
        max-wait: -1      #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 8       #连接池中的最大空闲连接
        min-idle: 0       #连接池中的最小空闲连接
        timeout: 5000     #连接超时时间（毫秒）
#=======================================================================================================================
  sleuth:
    sampler:
      percentage: 1
  zipkin:
    base-url: http://192.168.1.166:9411
#=======================================================================================================================
  #相关MySQL/druid配置
  datasource:
    url: jdbc:mysql://192.168.1.123:3306/casin?characterEncoding=utf8&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root@123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 5
      max-wait-millis: 5
#=======================================================================================================================
#相关mybatis配置
mybatis:
  mapperLocations: classpath:/mapper/**/*Mapper.xml
  type-aliases-package: com.casin.model
  #开启二级缓存
  configuration:
    cache-enabled: true
#=======================================================================================================================
#相关eureka配置
eureka:
  instance:
    prefer-ip-address: true                    #访问路径可以显示IP地址
    lease-renewal-interval-in-seconds: 1       #续约更新时间间隔（秒）
    lease-expiration-duration-in-seconds: 2    #续约到期时间（秒）
  client:
    serviceUrl:
      defaultZone: http://192.168.1.164:8761/eureka/,http://192.168.1.165:8762/eureka/,http://192.168.1.166:8763/eureka/
    healthcheck:
      enabled: true #健康检查
#=======================================================================================================================
logging:
  config: classpath:logback-spring.xml
  path: D:/log
#=======================================================================================================================
logging:
  level:
    io:
      swagger:
        models:
          parameters:
            AbstractSerializableParameter: ERROR
#=======================================================================================================================
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
 

